<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".PrefApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="이날어때?"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoApp"
        tools:targetApi="31">
        <activity
            android:name=".RequestActivity"
            android:exported="false" />
        <activity
            android:name=".AddGroupScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".CreateGroupTitleActivity"
            android:exported="true" />
        <activity
            android:name=".GroupScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateUserSchedule"
            android:exported="false" />
        <activity
            android:name=".ScheduleDetail"
            android:exported="true" />
        <activity
            android:name=".PlusFriendActivity"
            android:exported="true" />
        <activity
            android:name=".GroupListActivity"
            android:exported="true" />
        <activity
            android:name=".AddUserSchedule"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:requestLegacyExternalStorage="true" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao19f26b64744912066f59c25751bdfd57" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>